<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<button id="createComplex"><a>난수 생성(복합)</a></button>
<br>
<span>난수 : </span><input id="randomComplex"/>
<span>난수 : </span><a id="randomComplex2"></a>
<br>
<button id="createOnlyNum"><a>난수 생성(숫자)</a></button>
<br>
<span>난수 : </span><input id="randomNum"/>
<span>난수 : </span><a id="randomNum2"></a>
<br>
<button id="createText"><a>난수 생성(문자)</a></button>
<br>
<span>난수 : </span><input id="randomText"/>
<span>난수 : </span><a id="randomText2"></a>
<br><br><br><br><br><br>
<button id="home" type="button">home</button>
</body>
<script type="text/javascript" th:src="@{http://code.jquery.com/jquery-latest.js}"></script>
<script type="text/javascript" th:src="@{/static/js/random/randomCreate.js}"></script>
</html>