<!DOCTYPE html>
<html lang="kr">
    <head>
        <meta charset="UTF-8">
        <title>BoardTitle</title>
        <style>
            span {
                display: inline-block;
                width: 100px;
                margin-top: 15px;
                margin-left: 10px;
                font-weight: bold;
            }
            </style>
        </style>
    </head>
    <body>
        <form method="post" action="/board/insert">
            <br/><span>게시판 타입: </span><input name="boardType"/>
            <br/><span>제목 : </span><input name="boardTitle"/>
            <br/><span>내용 : </span><input name="boardContent"/>
            <br/><span>작성자 : </span><input name="boardId"/>
            <br/>
            <button id="btnBoardInsert" type="submit">저장</button>
            <button name="btnCancel" type="button"><a href="/board/list">취소</a></button>
        </form>
    </body>
</html>