<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/board/insert">
    <br/>게시판 타입: <input name="boardType"></input>
    <br/>제목 : <input name="boardTitle"></input>
    <br/>내용 : <input name="boardContent"></input>
    <br/>작성자 : <input name="boardId"></input>
    <br/>
    <button name="btnBoardInsert" type="submit">저장</button>
    <button name="btnCancel" type="button"><a href="/board/list">취소</a></button>
</form>
</body>
</html>