<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>BoardTitle</title>
        <link rel="stylesheet" th:href="@{/static/css/board/list.css}"></script>
    </head>
    <body>
        <h1>Board list</h1>
        <button id="btnBoardInsert" type="button" onclick="location.href='/board/insertView'">게시물 작성</button>
        <select style="float: right;width: 80px;" id="choiceSize">
            <option th:value="10" th:text="10개씩"/>
            <option th:value="30" th:text="30개씩"/>
            <option th:value="50" th:text="50개씩"/>
        </select>
        <br>
        <table id="boardList">
            <thead>
                <tr>
                    <th>게시물 번호</th>
                    <th>게시물 타입</th>
                    <th>제목</th>
                    <th>내용</th>
                    <th>작성자</th>
                    <th>조회수</th>
                    <th>작성일</th>
                    <th>수정일</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="board : ${boardList}">
                    <td><a th:href="@{/board/{id}(id=${board.boardNo})}"><span th:text="${board.boardNo}">boardNo</span></a></td>
                    <td th:text="${board.boardType}">boardType</td>
                    <td th:text="${board.boardTitle}">boardTitle</td>
                    <td th:text="${board.boardContent}">boardContent</td>
                    <td th:text="${board.boardId}">boardId</td>
                    <td th:text="${board.boardCount}">boardCount</td>
                    <td th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd').equals(#temporals.format(today, 'yyyy-MM-dd')) ? #temporals.format(board.createDate, 'HH:mm') : #temporals.format(board.createDate, 'yyyy-MM-dd')}">createDate</td>
                    <td th:text="${#temporals.format(board.modifiedDate, 'yyyy-MM-dd HH:mm')}">modifiedDate</td>
                </tr>
            </tbody>
        </table>
        <br>
        <button id="home" type="button">home</button>
<!--        <div style="display: inline; float: right;">-->
<!--            <input id="searchContent"/>-->
<!--            <button type="button" id="searchBtn">검색</button>-->
<!--        </div>-->

        <div class="page">
            <ul class="pagination modal" th:with="startNumber=${T(Math).floor(boardList.number/10) * 10 + 1}, endNumber=(${boardList.totalPages > startNumber + 9 ? startNumber + 9 : boardList.totalPages})">
                <li th:style="${boardList.first} ? 'display:none'"><a href="/board/list?page=1">&laquo;</a></li>
                <li th:style="${boardList.first} ? 'display:none'"><a th:href="@{/board/list(page=${boardList.number})}">&lsaquo;</a></li>
                <li th:each="page : ${#numbers.sequence(startNumber, endNumber)}" th:class="(${page} == ${boardList.number} + 1) ? 'active' : ''">
                    <a th:class="(${page} == ${boardList.number} + 1) ? 'active num' : 'num'" th:href="@{/board/list(page=${page})}" th:text="${page}">
                        <!--                            javascript:void(0);-->
                        <!--                            @{/board/list(page=${page})}-->
                        <!--                            jQuery('#choiceSize option:selected').val()-->
                        <span class="sr-only"></span>
                    </a>
                </li>
                <li th:style="${boardList.last} ? 'display:none'"><a th:href="@{/board/list(page=${boardList.number} + 2)}">&rsaquo;</a></li>
                <li th:style="${boardList.last} ? 'display:none'"><a th:href="@{/board/list(page=${boardList.totalPages})}">&raquo;</a></li>
            </ul>
        </div>

        <!-- search{s} -->
        <div style="text-align: center;" id="searchContent">
            <div style="display: inline;">
                <select name="searchType" id="searchType">
                    <option value="title">제목</option>
                    <option value="Content">본문</option>
                    <option value="reg_id">작성자</option>
                </select>
            </div>
            <div style="display: inline;">
                <input type="text" name="keyword" id="keyword">
            </div>
            <div style="display: inline;">
                <button name="btnSearch" id="btnSearch">검색</button>
            </div>
        </div>

        <footer>
            <!--footer 영역-->
        </footer>
    </body>
    <script type="text/javascript" th:src="@{https://code.jquery.com/jquery-latest.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/board/list.js}"></script>
</html>