<!DOCTYPE html>
<html lang="kr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="common/header"></th:block>
    </head>
    <body>
        <div class="content">
            <h1>LOGIN</h1>
            <div th:if="${param.error}">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
            <form id="loginForm" th:action="@{/loginCheck}" method="post">
                <div><label> User Name : <input type="text" name="username"/></label></div>
                <div><label> Password: <input type="password" id="password" name="password"/></label></div>
                <div class="divInline"><input type="submit" value="Sign In"/></div>
                <div class="divInline"><input type="button" id="register" value="Sign Up"/></div>
            </form>
        </div>

        <th:block th:replace="common/footer"></th:block>
    </body>
    <script type="text/javascript" th:src="@{/static/js/login/login.js}"></script>
</html>