<!DOCTYPE html>
<html lang="kr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>LOGIN</title>
    </head>
    <body>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form id="loginForm" th:action="@{/login}" method="post">
            <div><label> User Name : <input type="text" name="username"/></label></div>
            <div><label> Password: <input type="password" id="signIn" name="password"/></label></div>
            <div style="display: inline"><input type="submit" value="Sign In"/></div>
            <div style="display: inline"><input type="button" id="register" value="Sign Up"/></div>
        </form>
    </body>
    <script type="text/javascript" th:src="@{https://code.jquery.com/jquery-latest.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/login/login.js}"></script>
</html>