<!DOCTYPE html>
<html lang="kr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="common/header"></th:block>
  </head>
  <body>
    <div class="login_wrapper content" style="margin: 5% 20% 0 20%;">
      <form method="post" action="/login/join">
        <div>
          <input type="text" class="form-control" name="employeeId" placeholder="아이디" autocomplete="off" required/>
        </div>
        <div>
          <input type="password" class="form-control" name="employeePassword" placeholder="비밀번호" autocomplete="off" required/>
        </div>
        <div>
          <input type="text" class="form-control" name="employeeName" placeholder="이름" autocomplete="off" required/>
        </div>
        <div>
          <input type="email" class="form-control" name="employeeEmail" placeholder="이메일" autocomplete="off" required/>
        </div>
        <div style="margin: 10px 0px; text-align: center;">
          <div class="divInline">
            <input type="radio" class="custom-control-input" id="sex-1" name="employeeSex" value="남" checked>
            <label class="custom-control-label" for="sex-1">남</label>
          </div>
          <div class="divInline">
            <input type="radio" class="custom-control-input" id="sex-2" name="employeeSex" value="여">
            <label class="custom-control-label" for="sex-2">여</label>
          </div>
        </div>
        <div>
          <input type="text" class="form-control" id="datepicker" name="employeeBirthDay" placeholder="생년월일" autocomplete="off"/>
        </div>
        <div style="margin-bottom: 50px;">
          <input type="text" class="form-control" name="employeePhone" placeholder="전화번호(-생략)" autocomplete="off"/>
        </div>

        <div>
          <button class="btn btn-dark btn-large form-control" type="submit">저장</button>
        </div>
        <div>
          <button class="btn btn-secondary btn-large form-control" id="btnCancel" type="button" onclick="location.href='/login'">취소</button>
        </div>
      </form>
    </div>

    <th:block th:replace="common/footer"></th:block>
  </body>
</html>