table{
    width: 100%;
}
th, td {
    font-weight: bold;
    border: 1px solid #8B2D2DFF;
    width: 10%;
    text-align: center;
}
a:link {text-decoration: none; color: blue;}
a:visited {text-decoration: none; color: black;}
a:active {text-decoration: none; color: grey;}
a:hover {text-decoration: underline; color: red;}
.page{
    text-align: center;
}
.pagination{
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-top: 20px;
}
.pagination li{
    display: inline;
    text-align: center;
}
.pagination a{
    float: left;
    display: block;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 12px;
    color: #000000;
    line-height: 1.5;
}
.pagination a.active{
    cursor: default;
    color: #ffffff;
    outline: none;
}
.pagination>li>a.rightPage, .pagination>li>a.leftPage{
    border : none;
}
.pagination>li>a.rightPage:hover, .pagination>li>a.leftPage:hover{
    background-color: #ffffff;
}
.customModel .num{
    margin-left: 3px;
    padding: 0;
    width: 30px;
    line-height: 30px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}
.customModel .num:hover{
    background-color: #2e9cdf;
    color: #ffffff;
}
.customModel .num.active, .customModel .num:active{
    background-color: #2e9cdf;
    cursor: pointer;
}
.divInline{
    display: inline;
}